@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


.container {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
    margin-left: 0;
  }
  @media (max-width: 991px) {
    .heroSection {
      width: 100%;
    }
  }
  .heroTitle {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    font: 400 128px Akaya Kanadaka, -apple-system, Roboto, Helvetica, sans-serif;
  }
  @media (max-width: 991px) {
    .heroTitle {
      max-width: 100%;
      margin-top: 39px;
      font-size: 40px;
    }
  }
  .titleRow {
    display: flex;
    gap: 27px;
  }
  .redText {
    color: rgba(237, 28, 36, 1);
  }
  .blackText {
    color: rgba(0, 0, 0, 1);
  }
  .contentSection {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 56%;
    margin-left: -20px;
  }
  @media (max-width: 991px) {
    .contentSection {
      width: 100%;
    }
  }
  .contentWrapper {
    margin-top: 44px;
  }
  @media (max-width: 991px) {
    .contentWrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .imageSection {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 58%;
    margin-left: 0;
  }
  @media (max-width: 991px) {
    .imageSection {
      width: 100%;
    }
  }
  .heroImage {
    aspect-ratio: 1.09;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 29px;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .heroImage {
      margin-top: 32px;
    }
  }
  .featuresSection {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 20px;
    margin-top: 50px;
  }
  @media (max-width: 991px) {
    .featuresSection {
      width: 100%;
    }
  }
  .featuresWrapper {
    display: flex;
    width: 100%;
    padding-left: 36px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .featuresWrapper {
      padding-left: 20px;
    }
  }
  .iconCircle {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0 7px;
  }
  .featureIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 35px;
  }
  .featureContent {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
  }
  .featureTitle {
    font: 32px Akaya Kanadaka, -apple-system, Roboto, Helvetica, sans-serif;
  }
  .featureDescription {
    margin-top: 8px;
    font: 20px Arial, sans-serif;
  }
  .featureItem {
    display: flex;
    gap: 21px;
    margin-top: 47px;
  }
  @media (max-width: 991px) {
    .featureItem {
      margin-top: 40px;
    }
  }
