.menuContainer {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }
  
  .menuTitle {
    color: #FF6F61; /* Updated to a more appetizing pizza red color */
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;

  }

  .categoriesContainer {
    display: flex;
    margin-top: 0px;
    gap: 20px;
    font-size: 32px;
    color: #F4551B;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 991px) {
    .categoriesContainer {
      margin-top: 40px;
    }
  }

.menuContainer {
    margin-bottom: 500px;
    margin-top: -50px;
}

.categoriesContainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50px;
    gap: 50px;

}
