.heroSection {
    background-color: #fff;
    display: flex;
    padding-bottom: 91px;
    flex-direction: column;
    overflow: hidden;
    font-family: Inter, sans-serif;
    color: #fff;
    font-weight: 400;
  }
  
  .heroContainer {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 60px 60px;
    position: relative;
    min-height: 933px;
    width: 100%;

    margin-top: 80px;
    align-items: flex-end;
    /* padding: 237px 80px; */
  }
  
  .heroBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    top: -100px;
    bottom: 100px;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .heroTitle {
    position: absolute;
    font-size: 48px;
    max-width: 500px;
    text-align: left;
    top: 150px;
    /* bottom: 0; */
    right: -700px;
    left: 1325px;
  }
  
  .heroDescription {
    position: absolute;
    font-size: 20px;
    margin-top: 52px;
    text-align: left;
    top: 250px;
    bottom: 0;
    right: 0px;
    left: 1330px;
    max-width: 550px;

  }
  
  .ctaButton {
    position: absolute;
    border-radius: 50px; /* More rounded edges */
    background-color: #FF6F61; /* Orange background */
    font-size: 24px;
    color: #FFF; /* White text for contrast */
    padding: 18px 36px;
    border: none;
    cursor: pointer;
    top: 470px;
    right: 385px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for a floating effect */
  }
  
  .ctaButton:hover {
    background-color: #F4551B; /* Darker orange on hover */
    transform: translateY(-5px); /* Slight movement on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* More prominent shadow on hover */
  }
  
  .ctaButton:focus {
    outline: 2px solid #FFF; /* White focus outline for accessibility */
    outline-offset: 2px;
  }
  
  .ctaButton:active {
    background-color: #D9431F; /* Even darker orange when button is clicked */
    transform: translateY(1px); /* Button presses down on click */
  }

  
  @media (max-width: 991px) {
    .heroContainer {
      max-width: 100%;
      padding: 100px 20px;
    }
  
    .heroTitle {
      max-width: 100%;
      font-size: 40px;
    }
  
    .heroDescription {
      max-width: 100%;
      margin: 40px 10px 0 0;
    }
  
    .ctaButton {
      margin: 40px 10px 10px 0;
      padding: 19px 32px;
    }
  }