.heroSection {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font: 400 36px Inter, sans-serif;
    max-width: auto;
    max-height: 1000px;
    margin-top: 120px;
  }
  
  .heroContent {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 1024px;
    width: 100%;
    padding: 191px 70px 149px;
  }
  
  .heroBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .heroText {
    position: absolute;
    max-width: 500px;
    right: 180px;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    
  }
  
  @media (max-width: 991px) {
    .heroContent {
      max-width: 100%;
      padding: 100px 20px 110px;
    }
  }
  
  .visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }